body {
  font-family: Mulish, sans-serif;
}

.article {
  ul, ol {
    padding-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  p {
    margin-bottom: 1rem;
  }
}
